<div align="center" style="color:black;background-color:lightgrey">

  <h1>Lamy</h1>
  <h3>Design Made in Germany</h3>
  <img src="../assets/image/home.jpg" width="30%" />
  <img src="../assets/image/home2.jpg" width="30%" />
  <br>
  <font style="color:olive"> Image by 
          <a href='https://www.facebook.com/kulisara.klk' target="_blank" >Kulisara Imisslee Klk</a>
  </font>
  <font style="color:olive">&nbsp; Mobile:090-978-6671 </font> &nbsp; 
  <a href='https://www.facebook.com/Lamy-Loyalty-Thailand-171222836874115/' target="_blank">#LamyLoyaltyThailand </a>

</div>